<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django from Jyoti</title>
  </head>
  <body>
    <h1>Hey ! I am a Django Developer. Welcome to my home page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
      necessitatibus eveniet odio, molestiae, repellat odit sequi ad nam, ut
      quae vel praesentium magnam reiciendis illo.
    </p>
    {{ people }}
  </body>
</html>
